.header
{
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    height: 50px;
    padding: 10px;
    background-image: linear-gradient(to right, #51a3cc , #51cc51);
}

.profileName
{

    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}