.roleEditArea
{
    border-top: solid 1px #cccccc;
    padding-top: 10px;
}

.roleEditArea .nameInputGroup
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding-bottom: 10px;
}

.roleEditArea .hourInputGroup
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 0fr 1fr;
    padding-bottom: 10px;
}

.roleEditArea .space
{
    width: 10px;
}

.roleEditArea .dayInputGroup
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    padding-bottom: 10px;
}

.roleEditArea .optionInputGroup
{
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-gap: 10px;
}

.roleEditArea .optionInputGroup .singleTrackOption, .singleDirectOption
{
    display: grid;
    grid-template-columns: 1fr 0fr;
    padding-bottom: 10px;
}

.roleEditArea .checkbox
{
    height: 30px;
    width: 10px;
    border: solid 1px #cccccc;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.roleEditArea label
{
    width: 50px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-flex !important;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center !important;
}

.roleEditArea .optionInputGroup label
{
    width: max-content;
}

.roleEditArea input
{
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.roleEditArea .dayInputGroup
{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 0fr;
}

.roleEditArea .singleDay
{
    display: grid;
    grid-template-columns: 0fr 0fr;
}

.roleEditArea .singleDay label
{
    width: min-content;
    margin-right: 10px;
}

.roleEditArea .singleDay input
{
    width: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.roleEditArea ::placeholder
{
    opacity: 1;
    color: #cccccc;
}

.roleEditArea button
{
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

.roleEditArea .buttonSubmit
{
    color: #51a3cc;
    border-color: #51a3cc;
}

.roleEditArea .buttonTimeAdd, .buttonTimeRemove
{
    color: #cccccc;
    border-color: #cccccc;
}

.roleEditArea .buttonTimeAdd
{
    margin-bottom: 10px;
}

.roleEditArea .buttonTimeRemove
{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.roleEditArea .buttonSubmit:hover
{
    color: #ffffff;
    background-color: #51a3cc;
}

.roleEditArea .buttonTimeAdd:hover, .buttonTimeRemove:hover
{
    color: #ffffff;
    background-color: #cccccc;
}

.roleEditArea .checkbox .tooltiptext
{
    visibility: hidden;
    width: 120px;
    background-color: #666666;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.roleEditArea .checkbox .tooltiptext::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #666666 transparent transparent transparent;
}

.roleEditArea .checkbox:hover .tooltiptext
{
    visibility: visible;
    opacity: 1;
}