#app
{
    height: 100%;
}

.header
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 0fr;
    height: 50px;
    padding: 10px;
    background-image: linear-gradient(to right, #19b2ff , #d480ff);
}

.profilePicture
{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}

.profileName, .search, .menu
{
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.search, .menu
{
    margin-left: 10px;
}

.main
{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 100%;
}

.sectionCenter
{
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.sectionLeft
{
    border-style: none;
}

.list
{
    margin: 10px;
}

.listRecents
{
    margin-bottom: 0px;
}

.area
{
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.areaUsers
{
    height: 100%;
}

button
{
    border: 0;
    background: none;
    height: 20px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.fileButton
{
    height: 30px;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    border-color: #52a3cc;
    border-radius: 5px;
    color: #52a3cc;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.buttonAction:hover, .item:hover
{
    background-color: #eeeeee;
}

.itemLeft .name
{
    text-align: left;
}

.itemLeft .name button
{
    width: 100%;
}

.itemComponent .arrow
{
    margin-right: 10px;
    width: 20px;
}

.itemComponent
{
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.itemUser
{
    padding-left: 10px;
}

.itemCenter, .buttonAction
{
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 10px;
    height: 40px;
    text-align: left;
}

.buttonAction
{
    color: #999999;
    padding: 0px;
    padding-left: 10px;
    height: 30px;
    text-align: left;
}

p.name
{
    font-size: 24px;
    padding: 10px;
}

p.type
{
    color: #666666;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #cccccc;
}