.groupInfoArea .name
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.groupInfoArea .type
{
    font-size: 18px;
    font-weight: bold;
    color: #cccccc;
    margin-bottom: 10px;
}

.groupInfoArea button
{
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}

.groupInfoArea .buttonDelete
{
    color: #cc5151;
    border-color: #cc5151;
    text-align: left;
    padding-left: 10px;
}

.groupInfoArea .optionButtons
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.groupInfoArea .buttonEdit, .buttonMove
{
    color: #cccccc;
    border-color: #cccccc;
    text-align: left;
    padding-left: 10px;
}

.groupInfoArea .buttonDelete:hover
{
    color: #ffffff;
    background-color: #cc5151;
}

.groupInfoArea .buttonEdit:hover, .buttonMove:hover
{
    color: #ffffff;
    background-color: #cccccc;
}