.GroupAddArea .nameInputGroup
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding-bottom: 10px;
}

.GroupAddArea label
{
    width: 50px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-flex !important;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center !important;
}

.GroupAddArea input
{
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.GroupAddArea ::placeholder
{
    opacity: 1;
    color: #cccccc;
}

.GroupAddArea button
{
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}

.GroupAddArea .buttonSubmit
{
    color: #51cc51;
    border-color: #51cc51;
}

.GroupAddArea .buttonSubmit:hover
{
    color: #ffffff;
    background-color: #51cc51;
}