.userSearchArea
{
    display: grid;
    grid-template-columns: 1fr;
}

.userSearchArea button
{
    height: 30px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    border-color: #cccccc;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.userSearchArea .buttonLoadMore
{
    color: #51a3cc;
    border-color: #51a3cc;
    text-align: center;
}

.userSearchArea button:hover
{
    background-color: #cccccc;
}

.userSearchArea .buttonLoadMore:hover
{
    color: #ffffff;
    background-color: #51a3cc;
}

.userSearchArea .user
{
    margin-bottom: 10px;
}